tags:
  kafka: true
  cockroach: true
  redis: true
  payments: true
  backup: false
  naughtybot: false
  botscribe: false
  scratchbot: false
  exporter: false

processingAlerts: []
laggingAlerts: []
kafkaTopics: []

chatTopic: &topic chat-events
stateTopic: &statetopic vlab-state
responseTopic: &responsetopic vlab-response
paymentTopic: &paymenttopic vlab-payment
kafkabrokers: &kb kafka:9092
botEnvs: &botenvs bot-envs
chatbaseHost: &host db-cockroachdb-public
exporterTopic: &exportertopic "vlab-exports"

versionDashboard: &vdashboard v0.0.38
versionBotserver: &vbotserver v0.0.11
versionReplybot: &vreplybot v0.0.168
versionLinksniffer: &vlinksniffer v0.0.6
versionDean: &vdean v0.0.37
versionScribble: &vscribble v0.0.27
versionDinersclub: &vdinersclub v0.0.38
versionFormcentral: &vformcentral v0.0.12
versionExporter: &vexporter v0.3.6

linksniffer:
  replicaCount: 1
  image:
    repository: vlabresearch/linksniffer
    tag: *vlinksniffer
    pullPolicy: IfNotPresent
  env:
  - name: BOTSERVER_URL
    value: "http://fly-botserver"
  resources:
    requests:
      cpu: 10m
      memory: 10Mi
  ingress:
    enabled: false
  service:
    type: ClusterIP
    port: 80

formcentral:
  replicaCount: 1
  image:
    tag: *vformcentral
  env:
  - name: CHATBASE_DATABASE
    value: "chatroach"
  - name: CHATBASE_USER
    value: "chatroach"
  - name: CHATBASE_PASSWORD
    value: ""
  - name: CHATBASE_HOST
    value: *host
  - name: CHATBASE_PORT
    value: "26257"
  - name: CHATBASE_MAX_CONNECTIONS
    value: "1"
  - name: PORT
    value: "1323"
  resources:
    requests:
      cpu: 10m
      memory: 10Mi

dinersclub:
  image:
    repository: vlabresearch/dinersclub
    tag: *vdinersclub
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 5m
      memory: 16Mi
  envFrom: bot-envs
  env:
    - name: CACHE_TTL
      value: "1h"
    - name: CACHE_NUM_COUNTERS
      value: "1000"
    - name: CACHE_MAX_COST
      value: "1000"
    - name: CACHE_BUFFER_ITEMS
      value: "64"
    - name: RELOADLY_SANDBOX
      value: "true"
    - name: BOTSERVER_URL
      value: "http://fly-botserver/synthetic"
    - name: CHATBASE_DATABASE
      value: "chatroach"
    - name: CHATBASE_HOST
      value: *host
    - name: CHATBASE_PORT
      value: "26257"
    - name: CHATBASE_USER
      value: "chatroach"
    - name: CHATBASE_MAX_CONNECTIONS
      value: "1"
    - name: KAFKA_BROKERS
      value: *kb
    - name: KAFKA_POLL_TIMEOUT
      value: "1s"
    - name: KAFKA_TOPIC
      value: *paymenttopic
    - name: KAFKA_GROUP
      value: "dinersclub"
    - name: DINERSCLUB_BATCH_SIZE
      value: "1"
    - name: DINERSCLUB_RETRY_BOTSERVER
      value: "2m"
    - name: DINERSCLUB_RETRY_PROVIDER
      value: "2m"
    - name: DINERSCLUB_POOL_SIZE
      value: "1"
    - name: DINERSCLUB_PROVIDERS
      value: "fake,reloadly"

dashboard:
  replicaCount: 1
  image:
    repository: vlabresearch/dashboard
    tag: *vdashboard
    pullPolicy: IfNotPresent
  envFrom: *botenvs
  env:
    - name: TYPEFORM_URL
      value: 'https://api.typeform.com'
    - name: CUBEJS_API_SECRET
      value: 'notasecret'
    - name: CUBEJS_DB_TYPE
      value: 'postgres'
    - name: DB_DATABASE
      value: 'chatroach'
    - name: CUBEJS_DB_NAME
      value: 'chatroach'
    - name: DB_USER
      value: 'chatroach'
    - name: CUBEJS_DB_USER
      value: 'chatroach'
    - name: DB_PASSWORD
      value: ''
    - name: CUBEJS_DB_PASS
      value: ''
    - name: DB_HOST
      value: *host
    - name: KAFKA_BROKERS
      value: *kb
    - name: CUBEJS_DB_HOST
      value: *host
    - name: DB_PORT
      value: '26257'
    - name: CUBEJS_DB_PORT
      value: '26257'
    - name: TYPEFORM_REDIRECT_URL
      value: 'https://localhost:3000/surveys/auth'
    - name: FORMCENTRAL_URL
      value: 'http://fly-formcentral'
    - name: FACEBOOK_GRAPH_URL
      value: 'https://graph.facebook.com/v7.0'
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    tls:
      - hosts:
        - dashboard.fly.local
        secretName: local-certs
    hosts:
      - host: dashboard.fly.local
        paths:
        - path: /
          pathType: Prefix
  service:
    type: ClusterIP
    port: 80


replybot:
  replicaCount: 1
  image:
    repository: vlabresearch/replybot
    tag: *vreplybot
    pullPolicy: IfNotPresent
  envFrom: *botenvs
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
  env:
  - name: CHATBASE_BACKEND
    value: "@vlab-research/chatbase-postgres"
  - name: CHATBASE_DATABASE
    value: "chatroach"
  - name: CHATBASE_USER
    value: "chatroach"
  - name: CHATBASE_PASSWORD
    value: ""
  - name: CHATBASE_HOST
    value: *host
  - name: CHATBASE_PORT
    value: "26257"
  - name: FALLBACK_FORM
    value: "305"
  - name: REPLYBOT_EVENT_TOPIC
    value: *topic
  - name: REPLYBOT_RESET_SHORTCODE
    value: "reset"
  - name: FACEBOOK_GRAPH_URL
    value: "http://gbv-facebot"
  - name: BOTSPINE_KAFKA_BROKERS
    value: *kb
  - name: KAFKA_BROKERS
    value: *kb
  - name: BOTSPINE_MESSAGE_TOPIC
    value: *topic
  - name: VLAB_STATE_TOPIC
    value: *statetopic
  - name: VLAB_RESPONSE_TOPIC
    value: *responsetopic
  - name: VLAB_PAYMENT_TOPIC
    value: *paymenttopic
  - name: BOTSERVER_URL
    value: "http://fly-botserver"
  - name: FORMCENTRAL_URL
    value: "http://fly-formcentral"
  - name: NUM_SPINES
    value: "6"
  - name: REDIS_HOST
    value: "fly-redis-master"
  - name: REDIS_PORT
    value: "6379"
  - name: REDIS_DB
    value: "0"


botserver:
  replicaCount: 1
  image:
    repository: vlabresearch/botserver
    tag: *vbotserver
    pullPolicy: IfNotPresent
  envFrom: *botenvs
  env:
  - name: BOTSERVER_EVENT_TOPIC
    value: *topic
  - name: KAFKA_BROKERS
    value: *kb
  - name: PORT
    value: "80"
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
  ingress:
    enabled: false
  service:
    type: ClusterIP
    port: 80

dean:
  image:
    repository: vlabresearch/dean
    tag: *vdean
    pullPolicy: IfNotPresent
  env:
  - name: CHATBASE_DATABASE
    value: "chatroach"
  - name: CHATBASE_USER
    value: "chatroach"
  - name: CHATBASE_PASSWORD
    value: ""
  - name: CHATBASE_HOST
    value: *host
  - name: CHATBASE_PORT
    value: "26257"
  - name: BOTSERVER_URL
    value: "http://fly-botserver/synthetic"
  - name: DEAN_ERROR_TAGS
    value: "NETWORK,INTERNAL,STATE_ACTIONS"
  - name: DEAN_ERROR_INTERVAL
    value: "48 hours"
  - name: DEAN_FB_CODES
    value: "2022,613,-1,190,80006,551"
  - name: DEAN_BLOCKED_INTERVAL
    value: "48 hours"
  - name: DEAN_RESPONDING_INTERVAL
    value: "48 hours"
  - name: DEAN_RESPONDING_GRACE
    value: "20 minutes" 
  - name: DEAN_RETRY_MAX_ATTEMPTS
    value: "30"
  - name: DEAN_PAYMENT_GRACE
    value: "2 hours"
  - name: DEAN_PAYMENT_INTERVAL
    value: "14 days"
  - name: DEAN_SEND_DELAY
    value: "1ms"
  - name: DEAN_FOLLOWUP_MIN
    value: "1 minute"
  - name: DEAN_FOLLOWUP_MAX
    value: "1 hour"
  - name: DEAN_TIMEOUT_BLACKLIST
    value: ""
  - name: DEAN_TIMEOUT_MAX_PAST
    value: "72 hours"

  queries:
    - name: respondings
      queries: "respondings,blocked,errored"
      schedule: "*/1 * * * *"
      resources:
        requests:
          cpu: 10m
          memory: 10Mi
    - name: timeouts
      queries: "timeouts,followups"
      schedule: "*/1 * * * *"
      resources:
        requests:
          cpu: 10m
          memory: 10Mi
    - name: spammers
      queries: "spammers"
      schedule: "*/1 * * * *"
      resources:
        requests:
          cpu: 10m
          memory: 10Mi

scribble:
  image:
    repository: vlabresearch/scribble
    tag: *vscribble
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
  env:
  - name: CHATBASE_DATABASE
    value: "chatroach"
  - name: CHATBASE_USER
    value: "chatroach"
  - name: CHATBASE_PASSWORD
    value: ""
  - name: CHATBASE_HOST
    value: *host
  - name: CHATBASE_PORT
    value: "26257"
  - name: KAFKA_BROKERS
    value: *kb
  - name: KAFKA_POLL_TIMEOUT
    value: "1s"
  - name: SCRIBBLE_CHUNK_SIZE
    value: "32"
  - name: SCRIBBLE_BATCH_SIZE
    value: "32"
  - name: SCRIBBLE_ERROR_HANDLERS
    value: ""

  sinks:
    - destination: "states"
      replicaCount: 1
      env:
      - name: KAFKA_TOPIC
        value: *statetopic
      - name: KAFKA_GROUP
        value: "scribble-states"

    - destination: "responses"
      replicaCount: 1
      env:
      - name: KAFKA_TOPIC
        value: *responsetopic
      - name: KAFKA_GROUP
        value: "scribble-responses"

    - destination: "messages"
      replicaCount: 1
      env:
      - name: KAFKA_TOPIC
        value: *topic
      - name: KAFKA_GROUP
        value: "scribble-messages"

exporter:
  env:
    - name: "KAFKA_TOPIC"
      value: *exportertopic
    - name: "KAFKA_BROKERS"
      value: *kb
    - name: "KAFKA_GROUP_ID"
      value: "exporter"
    - name: "APP_NAME"
      value: "exporter"
  envSecrets:
    - exporter
  image:
    repository: "vlabresearch/exporter"
    pullPolicy: Always
    tag: 0.1.0

cockroachdb:
  # disable cockroachdb as we run it as a service
  enabled: false

kafka:
  # disable kafka as we run it as a service
  enabled: false


redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      size: 1Gi
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "6379"
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
      interval: 30s
  networkPolicy:
    enabled: false
  podSecurityContext:
    enabled: true
    fsGroup: 1001
    runAsUser: 1001
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true
